:root {
  --maroon: #7B1113;
}

@font-face {
  font-family: Jakarta;
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
  font-family: Jakarta;

  margin: 0;
}

h1 {
  font-size: 50px;
}

a {
  color: white;
  font-weight: bold;
  padding: 20px;
}

input {
  margin: 10px;
  padding: 10px;
}


img {
  max-width: 75px;
  height: auto;
}

h4 {
  text-align: center;
  vertical-align: middle;
}

h2 {
  align-content: center;
  padding: 0;
}

.borrow {
  border: 1px solid transparent;
}


.logo {
  max-width: 150px;
  float: right;
  clear: left;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.content {
  padding: 10px;
  display: flex;
  background-color: var(--maroon);

  color: white;

  margin-bottom: 5em;
  box-shadow: 2px 0 5px black;
}
.login {
  width: 100%;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
}

.login2 {
  padding: 10px;
  border-radius: 20px;
  width: 500px;
  background-color: rgb(236, 233, 233);
  box-shadow: 5px 5px 2px black;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.studentButton, .adminButton {
  padding: 10px;

  border-radius: 15px;
  border: 1px solid black;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.studentButton:hover, .adminButton:hover {
  background-color: #7B1113;
  color: white;
}

.studentButton img, .adminButton img {
  width: 75px;
}
.studentButton h4, .adminButton h4 {
  margin-top: 5px;
}

.loginButton {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 10px;
}

.signupButton {
  color: black;
  margin: 0;
  padding: 0;
}

.home {
  text-align: right;
  padding-left: 30%;
  align-content: center;
  word-spacing: 5px;
}

.aboutUs {
  word-spacing: 0;
}

.menu {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu2 {
  border-radius: 15px;
  padding: 10px;
  width: 500px;
  background-color: rgb(221, 221, 221);

}

.borrow h2 {
  width: max-content;
  transition: 0.2s ease-in-out;
}

.borrow h2:hover{
  cursor: pointer;

  color: maroon;
}

.bLogimg {
  width: 60px;
  padding-right: 10px;
}